@mixin navbar {
    display: flex;    
    justify-content: space-between;
    align-items: center;  
    padding-top: 1.3rem;   
    padding-bottom: 2rem;
    font-weight: 900;
    height: 1rem;
    background-color: bisque;
    color: black;    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    
}